<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">

        </ng-template>
        <ng-template pTemplate="item" let-item>
            <ng-container *ngIf="item.route; else urlRef">
                <a [routerLink]="item.route" class="p-menuitem-link">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-container>
            <ng-template #urlRef>
                <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-template>
            <ng-template #noLink>
                <div class="p-menuitem-link">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                </div>
            </ng-template>
        </ng-template>
        <ng-template pTemplate="end">
            <div *ngIf="user$ | async as userData" class="flex align-items-center gap-2">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/walter.jpg" shape="circle" />
                <div  class="flex flex-column">
                    <span>{{userData.Name}}</span>
                    <small>{{userData.Role}}</small>
                </div>
                <p-button [text]="true" [rounded]="true" icon="pi pi-angle-down" severity="secondary" (onClick)="menuUser.toggle($event)" />
                <p-tieredMenu #menuUser [model]="userItems" [popup]="true" />
            </div>
        </ng-template>
    </p-menubar>
</div>
