<main class="p-3">
    <h1>Agendar cita medica</h1>
    <section>
        <h4>Especialidad medica</h4>
        <p-dropdown
            placeholder="Seleccione una especialidad medica" styleClass="w-full"/>
    </section>
    <section>
        <h4>Doctor</h4>
        <p-dropdown
            placeholder="Seleccione a un medico disponible" styleClass="w-full" />
    </section>
    <section>
        <h4>Fecha</h4>
        <p-dropdown
            placeholder="Seleccione una fecha" styleClass="w-full" />
    </section>
    <section>
        <h4>Hora</h4>
        <p-dropdown
            placeholder="Seleccione una hora" styleClass="w-full" />
    </section>
    <section>
        <h4>Motivo</h4>
        <textarea
            class="w-full"
            rows="5"
            pInputTextarea>
        </textarea>
    </section>
    <section>
        <p-button label="Agendar" [raised]="true" severity="contrast" styleClass="w-full mt-4" />
    </section>
</main>