<div class="video-call-container">
  <!-- Pantalla remota -->
  <div class="video-main">
    <video #remoteVideo autoplay playsinline></video>
  </div>

  <!-- Vista propia (PiP) -->
  <div class="video-pip">
    <video #localVideo autoplay playsinline></video>
  </div>

  <!-- Botones de control -->
  <div class="call-controls">
    <p-button *ngIf="!callInProgress && !incomingCall" 
            (click)="startCall()"  
            label="Iniciar Llamada" 
            icon="pi pi-phone" 
            class="p-button-success">
    </p-button>
    <div *ngIf="callInProgress">
      <p-button (click)="stopCall()"  
              [rounded]="true"
              icon="bi bi-telephone-x-fill" 
              class="p-button-danger">
      </p-button>
      <p-button 
            (click)="toggleAudio()"
            [rounded]="true"
            [icon]="audioEnabled ? 'bi bi-mic-fill' : 'bi bi-mic-mute-fill'" 
            class="p-button-rounded p-button-warning">
      </p-button>
      <p-button (click)="toggleCamera()"  
              [icon]="videoEnabled ? 'bi bi-camera-video-fill' : 'bi bi-camera-video-off-fill'" 
              [rounded]="true"
              class="p-button-rounded p-button-warning">
      </p-button>
      <p-button (click)="showSettings()"  
              [icon]="'bi bi-gear-fill'" 
              [rounded]="true"
              class="p-button-rounded p-button-warning">
      </p-button>
    </div>
    <div *ngIf="incomingCall">
      <p-button (click)="acceptCall()"  
              label="Aceptar" 
              icon="pi pi-check" 
              class="p-button-success">
      </p-button>
      <p-button (click)="rejectCall()"  
              label="Rechazar" 
              icon="pi pi-times" 
              class="p-button-danger">
      </p-button>
    </div>
  </div>
  <p-dialog 
    header="Configuracion" 
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [(visible)]="configVisible">
    <div class="flex flex-column gap-3 mb-3">
        <label class="font-semibold w-full">Microfono</label>
        <p-dropdown 
          [options]="microfonos" 
          [(ngModel)]="microfono"
          (onChange)="changeMicro($event)"
          styleClass="w-full"
          optionLabel="name"
          placeholder="Seleccione un microfono" />
    </div>
    <div class="flex flex-column gap-3 mb-3">
      <label class="font-semibold w-full">Salida de Audio</label>
      <p-dropdown 
        [options]="audifonos" 
        [(ngModel)]="audifino"
        (onChange)="changeAudio($event)"
        styleClass="w-full"
        optionLabel="name"
        placeholder="Seleccione un microfono" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="configVisible = false" />
        <p-button label="Save" (onClick)="configVisible = false" />
    </div>
</p-dialog>
</div>