<main class="flex flex-column p-3">
    <h1>Historial Medico</h1>
    @if (historialMedico$ | async ; as historial) {
        <section>
            <h3>Datos del paciente</h3>
            <div class="flex flex-column">
                <ul>
                    <li><b>Nombre:</b> {{historial?.paciente?.nombre}}</li>
                    <li><b>Fecha Nacimiento:</b> {{historial?.paciente?.fechaNacimiento | date:'dd/M/yyyy'}}</li>
                    <li><b>Genero:</b>  {{historial?.paciente?.genero}}</li>
                    <li><b>Estado Civil:</b>  {{historial?.paciente?.estadoCivil}}</li>
                    <li><b>Nacionalidad:</b>  {{historial?.paciente?.nacionalidad}}</li>
                </ul>
            </div>
        </section>
        <section>
            <h3>Historial de Prescripciones</h3>
            <div class="flex gap-2">
                @for (item of historial?.historialPrescripciones; track $index) {
                    <div class="p-card h-12rem">
                        <div class="p-card-header h-8rem">
                            <img class="h-full" alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                            
                        </div>
                        <div class="p-card-content flex flex-column align-items-center">
                            <small>{{item.name}}</small>
                            <span class="font-bold">Dosis: {{item.dosis}}</span>
                        </div>
                    </div>
                }
                @empty {
                    <h3>Sin Prescripciones</h3>
                }
            </div>
        </section>
        <section>
            <h3>Notas del doctor</h3>
            <div class="flex gap-2">
                @for (item of notasDelDoctor; track $index) {
                    <p-card styleClass="w-16rem">
                        <div class="flex align-items-center mb-3">
                            <p-avatar 
                            label="P" 
                            styleClass="mr-2" 
                            shape="circle" />
                            <small>{{item.doctor}}</small>
                        </div>
                        <span>{{item.nota}}</span>
                    </p-card>
                }
            </div>
            
        </section>
        <!-- <section>
            <h3>Alergias</h3>
            <p-dataView #dv [value]="alergias">
                <ng-template pTemplate="list" let-alergias>
                    <div class="grid grid-nogutter">
                        <div class="col-12" *ngFor="let item of alergias; let first = first" class="col-12">
                            <div class="flex sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                <div class="md:w-10rem relative">
                                    <p-avatar 
                                        label="P" 
                                        styleClass="mr-2" 
                                        size="large" 
                                        shape="circle" />
                                </div>
                                <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                    <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                        <div>
                                            <div class="text-lg font-medium text-900 mt-2">{{ item.nombre }}</div>
                                            <span class="font-medium text-secondary text-sm">{{ item.severidad }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </section> -->
        <section>
            <h3>Sugerencias Medicas</h3>
            <div class="flex">
                <div class="flex align-items-center">
                    @for (item of historial?.sugerenciasMedicas; track $index) {
                        <p-avatar 
                        label="V" 
                        styleClass="mr-2" 
                        size="xlarge" />
                        <div class="flex flex-column">
                            <span class="mb-2 font-bold">{{item.name}}</span>
                            <span>{{item.sugerencia}}</span>
                        </div>
                    }
                    @empty {
                        <h3>No hay sugerencias medicas</h3>
                    }
                </div>
            </div>
        </section>
        <section>
            <h3>Consultas Medicas</h3>
            <p-dataView #dv [value]="consultasMedicas">
                <ng-template pTemplate="list" let-consultasMedicas>
                    <div class="grid grid-nogutter">
                        <div class="col-12" *ngFor="let item of historial?.consultasMedicas; let first = first" class="col-12">
                            <div class="flex sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                <div>
                                    <p-avatar 
                                        label="P" 
                                        styleClass="mr-2" 
                                        size="large" 
                                        shape="circle" />
                                </div>
                                <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                    <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                        <div>
                                            <div class="text-lg font-medium text-900 mt-2">{{ item?.doctor?.nombre }}</div>
                                            <span class="font-medium text-secondary text-sm">{{ item?.doctor?.especialidades[0] }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-column align-items-end justify-content-center">
                                    <span class="text-xl font-semibold text-700">{{ item.fecha | date:'dd/M/yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </section>
        <section>
            <h3>Estadisticas de salud</h3>
            <div class="flex gap-3">
                @for (item of historial?.estadisticaSalud; track $index) {
                    <p-card [subheader]="item.name" [style]="{ width: '200px', height:'100' }">
                        <div class="flex flex-column gap-2">
                            <span class="font-bold text-700 text-3xl">{{item.estadistica}}</span>
                        </div>
                    </p-card>
                }
                @empty {
                    <h3>No hay registros</h3>
                }
            </div>
        </section>
    }
    @else {
        <h2>No existe historial medico</h2>
    }
    
</main>
