<main class="flex flex-column p-3">
    <h1>Citas Medicas</h1>
    <section class="flex flex-column gap-2">
        <h3>Consultar citas</h3>
        <div class="flex gap-2 overflow-scroll p-1">
            @for (item of consultarCitas; track $index) {
                <a [routerLink]="item.link" class="p-card p-3 flex flex-column align-items-center gap-2 no-underline text-center" [style]="{ width: '160px'}">
                    <p-avatar 
                    [icon]="item.icon" 
                    styleClass="mr-2" 
                    size="large" 
                    shape="circle" />
                    <small>
                        {{item.label}}
                    </small>
                </a>
            }
        </div>
    </section>
    <section>
        <h3>Proximas Citas</h3>
        <div class="flex gap-2 overflow-scroll p-1">
            @for (cita of proximasCitas ; track $index) {
                <p-card [style]="{ width: '160px', height:'20' }">
                    <ng-template pTemplate="content" >
                        <div class="flex flex-column align-items-center gap-2">
                            <p-avatar 
                                label="P" 
                                styleClass="mr-2" 
                                shape="circle" />
                                <small>{{ cita?.fecha | date: 'dd/MM/yyyy' }} - {{ cita?.fecha | date: 'shortTime' }}</small>
                        </div>
                    </ng-template>
                </p-card>
            }
            @empty {
                <p>No hay citas registradas.</p>
            }
        </div>
    </section>
    <section>
        <h3>Resumen Mensual</h3>
        <p-card >
            <ng-template pTemplate="content" >
                <div class="flex flex-column text-center gap-3">
                    <span class="font-bold text-xl">Citas Programadas</span>
                    <span class="text-xl">{{citasProgramadasEnElMes | async}}</span>
                </div>
            </ng-template>
        </p-card>
    </section>

    <section class="mt-5">
        <p-button routerLink="/app/citas-medicas/agendar-cita" label="Agendar cita medica" severity="contrast" styleClass="w-full" />        
    </section>
    
</main>