<main class="flex flex-column p-3">
    <h1>Citas Medicas</h1>
    <section class="flex flex-column gap-2">
        <h3>Consultar citas</h3>
        <div class="flex gap-2 overflow-scroll">
            <a routerLink="/app/citas-medicas/periodo/dia" class="p-card p-3" [style]="{ width: '160px'}">
                <div class="flex flex-column align-items-center gap-2">
                 <p-avatar 
                 label="P" 
                 styleClass="mr-2" 
                 size="large" 
                 shape="circle" />
                 <small>
                     Citas del dia
                 </small>
                </div>
            </a>
            <a  routerLink="/app/citas-medicas/periodo/semana" class="p-card p-3" [style]="{ width: '160px'}">
            <div class="flex flex-column align-items-center gap-2">
                <p-avatar 
                label="P" 
                styleClass="mr-2" 
                size="large" 
                shape="circle" />
                <small class="text-center">
                    Citas de la semana
                </small>
            </div>
            </a>
            <a  routerLink="/app/citas-medicas/periodo/mes" class="p-card p-3" [style]="{ width: '160px'}">
            <div class="flex flex-column align-items-center gap-2">
                <p-avatar 
                label="P" 
                styleClass="mr-2" 
                size="large" 
                shape="circle" />
                <small>
                    Citas del mes
                </small>
            </div>
            </a>
        </div>
    </section>
    <section>
        <h3>Proximas Citas</h3>
        <div class="flex gap-2 overflow-scroll">
            @for (cita of proximasCitas ; track $index) {
                <p-card [style]="{ width: '160px', height:'20' }">
                    <ng-template pTemplate="content" >
                        <div class="flex flex-column align-items-center gap-2">
                            <p-avatar 
                                label="P" 
                                styleClass="mr-2" 
                                shape="circle" />
                                <small>{{ cita?.fecha | date: 'dd/MM/yyyy' }} - {{ cita?.fecha | date: 'shortTime' }}</small>
                        </div>
                    </ng-template>
                </p-card>
            }
            @empty {
                <p>No hay citas registradas.</p>
            }
        </div>
    </section>
    <section>
        <h3>Resumen Mensual</h3>
        <p-card >
            <ng-template pTemplate="content" >
                <div class="flex flex-column text-center gap-3">
                    <span class="font-bold text-xl">Citas Programadas</span>
                    <span class="text-xl">{{citasProgramadasEnElMes | async}}</span>
                </div>
            </ng-template>
        </p-card>
    </section>

    <section class="mt-5">
        <p-button routerLink="/app/citas-medicas/agendar-cita" label="Agendar cita medica" severity="contrast" styleClass="w-full" />        
    </section>
    
</main>