<main class="flex flex-column">
    <section class="flex flex-column gap-2">
        <h3>Consultar citas</h3>
        <div class="flex gap-2">
            @for (item of tipo_citas; track $index) {
                <p-card [style]="{ width: '160px', height:'80' }">
                   <div class="flex flex-column align-items-center gap-2">
                    <p-avatar 
                    label="P" 
                    styleClass="mr-2" 
                    size="large" 
                    shape="circle" />
                    <small>
                        {{item}}
                    </small>
                   </div>
                </p-card>
            }
        </div>
    </section>
    <section>
        <h3>Proximas Citas</h3>
        <div class="flex gap-2">
            @for (item of proximas_citas; track $index) {
                <p-card [style]="{ width: '160px', height:'20' }">
                    <ng-template pTemplate="content" >
                        <div class="flex flex-column align-items-center gap-2">
                            <p-avatar 
                                label="P" 
                                styleClass="mr-2" 
                                shape="circle" />
                                <small>{{item}}</small>
                        </div>
                    </ng-template>
                </p-card>
            }
        </div>
    </section>
    <section>
        <h3>Resumen Mensual</h3>
        <p-card >
            <ng-template pTemplate="content" >
                <div class="flex flex-column">
                    <span>Citas Programadas</span>
                    <span>45</span>
                </div>
            </ng-template>
        </p-card>
    </section>
    <section>
        <p-button label="Agendar cita medica" [raised]="true" severity="contrast" styleClass="w-full mt-4" />
    </section>
</main>