<main class="p-3">
    <h2>Examenes medicos</h2>
    <section>
        <p-dataView #dv [value]="examenes">
            <ng-template pTemplate="list" let-consultasMedicas>
                <div class="grid grid-nogutter">
                    <div *ngFor="let item of consultasMedicas; let first = first">
                        <div class="flex flex-row align-items-center p-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                            <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                    <div class="flex flex-column">
                                        <span class="text-lg font-medium text-900 mb-2">{{ item.nombre }}</span>
                                        <small class="font-medium text-secondary text-sm">{{ item.detalle }}</small>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p-avatar 
                                    label="Ex" 
                                    styleClass="mr-2" 
                                    size="large" 
                                    shape="circle" />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </section>
</main>
