<div class="flex flex-column p-3 gap-2">
    <h1>Agenda Medica</h1>
    <section class="flex justify-content-end gap-2 mb-2">
        <a routerLink="/app/agenda-medica/filtrar" class="p-button p-button-contrast font-bold no-underline">
            <i class="pi pi-search"></i>
        </a>
    </section>
    <section class="flex flex-column gap-2">
        @for (item of agendaMedica; track $index) {
            <a routerLink="/app/agenda-medica/editar/{{item.id}}" class="p-card flex flex-column gap-2 p-3 no-underline">
                <span><b>Especialidad:</b> {{item?.especialidad}}</span>
                <span><b>Fecha:</b> {{ item?.fecha | date: 'dd/MM/yyyy' }} - {{ item?.fecha | date: 'shortTime' }}</span>
                <span><b>Estado:</b> {{item.estado}}</span>
            </a>
        }
        @empty {
            <h4>No hay citas registradas.</h4>
        }
    </section>
    <section class="mt-5">
        <p-button routerLink="/app/agenda-medica/registrar" label="Registrar nueva agenda" severity="contrast" styleClass="w-full" />        
    </section>
</div>