<form [formGroup]="form" class="p-3" (ngSubmit)="onSubmit()">
    <h1>Agendar cita medica</h1>
    <section>
        <h4>Especialidad medica</h4>
        <p-dropdown 
            formControlName="especialidad" 
            [options]="EspecialidadesMedicas" 
            placeholder="Seleccione una especialidad medica" 
            styleClass="w-full"/>
    </section>
    <section>
        <h4>Doctor</h4>
        <p-dropdown 
            formControlName="idDoctor" 
            placeholder="Seleccione a un medico disponible"
            [options]="doctores"
            [checkmark]="true"
            optionLabel="nombre"
            optionValue="id"
            styleClass="w-full" />
    </section>
    <section>
        <h4>Fecha</h4>
        <p-calendar 
            formControlName="fecha"
            [minDate]="minDate"
            [maxDate]="maxDate"
            [disabledDates]="agendaDoctor"
            touchUI="true"
            dateFormat="dd/mm/yy"
            placeholder="Seleccione un dia a agendar"
            styleClass="w-full"
             />
            
        @if (form.get('fecha')?.hasError('sinAgenda')) {
            <span class="text-red-500 font-bold">Doctor sin agenda disponible.</span>
        }
    </section>
    <section>
        <h4>Hora</h4>
        <p-dropdown 
            formControlName="hora" 
            placeholder="Seleccione una hora disponible"
            [options]="horasAgendar"
            [checkmark]="true"
            optionLabel="hora"
            optionValue="fecha"
            styleClass="w-full" />
    </section>
    <section>
        <h4>Motivo</h4>
        <textarea
            class="w-full"
            rows="5"
            formControlName="motivo"
            pInputTextarea>
        </textarea>
    </section>
    <section>
        <p-button [disabled]="form.invalid" type="submit" label="Agendar" [raised]="true" severity="contrast" styleClass="w-full mt-4" />
    </section>
</form>